
/* source-code-pro */
@font-face {
  font-family: 'Source Code Pro';
  src: url('/fonts/SourceCodePro.eot');
  src: url('/fonts/SourceCodePro.eot?#iefix') format('embedded-opentype'), 
  url('/fonts/SourceCodePro.woff') format('woff'), 
  url('/fonts/SourceCodePro.ttf') format('truetype');
}

/* GenYoMinJP-Bold */
@font-face {
  font-family: 'GenYoMinJP';
  src: url('/fonts/GenYoMinJP-Bold.eot');
  src: url('/fonts/GenYoMinJP-Bold.eot?#iefix') format('embedded-opentype'), 
  url('/fonts/GenYoMinJP-Bold.woff') format('woff'), 
  url('/fonts/GenYoMinJP-Bold.ttf') format('truetype');
}