
/* source-code-pro */
@font-face {
  font-family: 'Source Code Pro';
  src: url('/fonts/SourceCodePro.eot');
  src: url('/fonts/SourceCodePro.eot?#iefix') format('embedded-opentype'), 
  url('/fonts/SourceCodePro.woff') format('woff'), 
  url('/fonts/SourceCodePro.ttf') format('truetype');
}

/* yanSong */
@font-face {
  font-family: 'Yan Song';
  src: url('/fonts/YanSong.eot');
  src: url('/fonts/YanSong.eot?#iefix') format('embedded-opentype'), 
  url('/fonts/YanSong.woff') format('woff'), 
  url('/fonts/YanSong.ttf') format('truetype');
}