
/* source-code-pro */
@font-face {
  font-family: 'Source Code Pro';
  src: url('/fonts/SourceCodePro.eot');
  src: url('/fonts/SourceCodePro.eot?#iefix') format('embedded-opentype'), 
  url('/fonts/SourceCodePro.woff') format('woff'), 
  url('/fonts/SourceCodePro.ttf') format('truetype');
}

/* GenRyuMinJP-Heavy */
@font-face {
  font-family: 'GenRyuMinJP';
  src: url('/fonts/GenRyuMinJP-Heavy.eot');
  src: url('/fonts/GenRyuMinJP-Heavy.eot?#iefix') format('embedded-opentype'), 
  url('/fonts/GenRyuMinJP-Heavy.woff') format('woff'), 
  url('/fonts/GenRyuMinJP-Heavy.ttf') format('truetype');
}