---
layout: default
---

<article class="posts">
  <h1>{{ page.title }}</h1>

  <div clsss="meta">
    <span class="date">
      {{ page.date | date: "%Y-%m-%d" }}
    </span>

    <ul class="tag">
      {% for tag in page.tags %}
      <li>
        <a href="{{ site.url }}{{ site.baseurl }}/tags#{{ tag }}">{{ tag }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="entry">
    {{ content }}
  </div>

  {% include disqus.html %}
  {% include gitalk.html %}

  <script>
    const post_imgs = document.querySelectorAll('div.entry img')
    for (let i of post_imgs) {
      let title_node = document.createElement("div")
      let text_node = document.createTextNode(i.getAttribute('alt'))
      title_node.appendChild(text_node)
      title_node.classList.add('caption')
      let img_src = i.getAttribute('src')
      if (img_src.endsWith('center')) {
        title_node.classList.add('center')
      }
      else if (img_src.endsWith('right')) {
        title_node.classList.add('right')
      }
      i.after(title_node)
    }
  </script>
</article>

<div class="pagination">
  {% if page.previous.url %}
    <span class="prev" >
      <a href="{{ site.url }}{{ site.baseurl }}{{ page.previous.url }}">
        ← 上一篇
      </a>
    </span>
  {% endif %}
  {% if page.next.url %}
    <span class="next" >
      <a href="{{ site.url }}{{ site.baseurl }}{{ page.next.url }}">
        下一篇 →
      </a>
    </span>
  {% endif %}
</div>